:root {
  --abbu-blue: #292562;
  --abbu-green: #1AA69D;
  --text-dark: #1E1E1E;
  --abbu-sand: #F2EED5;
  --abbu-orange: #E57F54;
  --abbu-gold: #E3AE6D;
  --abbu-brown: #885E2A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 1.2px;
}

body, html {
  height: 100%;
  background-color: var(--abbu-blue); 
  color: var(--abbu-sand);
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: calc( 20* var(--screenWidthInPX) / 1920) calc( 40* var(--screenWidthInPX) / 1920) 0;
  background-color: var(--abbu-blue);
  width: 100%;
}

.nav-left {
  display: flex;
  gap: calc( 60* var(--screenWidthInPX) / 1920);
  margin-left: calc( 40* var(--screenWidthInPX) / 1920);
}

.nav-btn {
  background: none;
  border: none;
  color: var(--abbu-sand);
  font-size: calc( 22* var(--screenWidthInPX) / 1920);
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.2s;
  z-index: 10;
}

.nav-btn:hover {
  opacity: 0.8;
}

.nav-center {
  text-align: center;
  margin-top: calc( 20* var(--screenWidthInPX) / 1920);
  z-index: 10;
}

.logo {
  max-height: calc( 100* var(--screenWidthInPX) / 1920);

}

.nav-right {
  display: flex;
  gap: calc( 20* var(--screenWidthInPX) / 1920);
  margin-right: calc( 50* var(--screenWidthInPX) / 1920);
}

.contact-btn {
  background-color: var(--abbu-green);
  color: var(--text-dark);
  border: none;
  padding: calc( 15* var(--screenWidthInPX) / 1920) calc( 25* var(--screenWidthInPX) / 1920);
  border-radius: 8px;
  font-size: calc( 20* var(--screenWidthInPX) / 1920);
  cursor: pointer;
  font-weight: 550;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10;
}
.contact-btn:hover {
  background-color: var(--abbu-sand); 
  color: var(--text-dark);
}

.main-container {
  padding: calc( 100* var(--screenWidthInPX) / 1920) 0 0;
  position: relative;
  overflow: hidden;
}

.image-grid {
  display: flex;
  justify-content: center;
  gap: calc( 40* var(--screenWidthInPX) / 1920);
  padding: calc( 40* var(--screenWidthInPX) / 1920);
}

.image-container {
  position: relative;
  height: calc( 300* var(--screenWidthInPX) / 1920);
  overflow: hidden;
  border-radius: calc( 15* var(--screenWidthInPX) / 1920);
  z-index: 10;
  box-shadow: 0 calc( 4* var(--screenWidthInPX) / 1920) calc( 8* var(--screenWidthInPX) / 1920) rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: calc( 15* var(--screenWidthInPX) / 1920);
  transition: transform 0.3s ease;
  z-index: 10;
}

.image-container:hover img {
  transform: scale(1.05);
  z-index: 10;
}

.flag-icon {
  width: calc( 40* var(--screenWidthInPX) / 1920);
  height: auto;
  margin-bottom: calc( 2* var(--screenWidthInPX) / 1920);
  margin-left: calc( 5* var(--screenWidthInPX) / 1920);
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 37, 98, 0.85); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: calc( 20* var(--screenWidthInPX) / 1920);
  z-index: 10;
}
.overlay p{
  font-size: calc( 20* var(--screenWidthInPX) / 1920);
}

.image-container:hover .overlay {
  opacity: 1;
}
.footer{
  z-index: 0;
}
.footer-img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}


/* === LINE ANIMATION === */
.line {
  position: absolute;
  border-radius: 1em;
  animation-duration: 1s;
  pointer-events: none;
  z-index: 0;
}

.background-lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

}


.line-wide {
  transform: scaleX(1);
  animation-name: change-width;
}

.line-high {
  transform: scaleY(1);
  animation-name: change-height;
}

@keyframes change-width {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes change-height {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
