@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
:root {
  --abbu-blue: #292562;
  --abbu-green: #1AA69D;
  --text-dark: #1E1E1E;
  --abbu-sand: #F2EED5;
  --abbu-orange: #E57F54;
  --abbu-gold: #E3AE6D;
  --abbu-brown: #885E2A;
  --screenWidthInPX: 1200px;
  --screenWidthMobileInPX: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 1.2px;
}

body, html {
   height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--abbu-blue); 
  color: var(--abbu-sand);
  cursor: none;
}
#monkey {
  position: fixed;
  top: 0;
  left: 0;
  font-size: calc( 50* var(--screenWidthInPX) / 1920) ; 
  pointer-events: none; 
  transform: translate(-50%, -50%);
  z-index: 9999; 
}

#banana {
  position: fixed;
  top: 0;
  left: 0;
  font-size: calc( 30* var(--screenWidthInPX) / 1920) ; 
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: calc( 20* var(--screenWidthInPX) / 1920) calc( 40* var(--screenWidthInPX) / 1920) 0;
  background-color: var(--abbu-blue);
  width: 100%;
  flex-direction: row;
  direction: ltr;
}
.navbar.rtl {
  flex-direction: row-reverse;
  direction: rtl;
}
.nav-left {
  display: flex;
  gap: calc( 60* var(--screenWidthInPX) / 1920);
  margin-inline-start: calc(40 * var(--screenWidthInPX) / 1920);
}

.nav-btn {
  background: none;
  border: none;
  color: var(--abbu-sand);
  font-size: calc( 22* var(--screenWidthInPX) / 1920);
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.2s;
  z-index: 10;
}

.nav-btn:hover {
  opacity: 0.8; 
}

.nav-center {
  text-align: center;
  margin-top: calc( 20* var(--screenWidthInPX) / 1920);
  z-index: 10;
}

.logo {
  max-height: calc( 100* var(--screenWidthInPX) / 1920);

}

.nav-right {
  display: flex;
  gap: calc( 20* var(--screenWidthInPX) / 1920);
  margin-inline-end: calc(50 * var(--screenWidthInPX) / 1920);

}
.navbar span{
    font-size: calc( 22* var(--screenWidthInPX) / 1920);

}
.contact-btn {
  background-color: var(--abbu-green);
  color: var(--text-dark);
  border: none;
  padding: calc( 15* var(--screenWidthInPX) / 1920) calc( 25* var(--screenWidthInPX) / 1920);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 550;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10;
}
.contact-btn:hover {
  background-color: var(--abbu-sand); 
  color: var(--text-dark);
}

.main-container {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.image-grid {
  display: flex;
  justify-content: center;
  gap: calc( 40* var(--screenWidthInPX) / 1920);
  padding: calc( 40* var(--screenWidthInPX) / 1920);
}

.image-container {
  position: relative;
  height: calc( 250* var(--screenWidthInPX) / 1920);
  overflow: hidden;
  border-radius: calc( 15* var(--screenWidthInPX) / 1920);
  z-index: 10;
  box-shadow: 0 calc( 4* var(--screenWidthInPX) / 1920) calc( 8* var(--screenWidthInPX) / 1920) rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: calc( 15* var(--screenWidthInPX) / 1920);
  transition: transform 0.3s ease;
  z-index: 10;
}

.image-container:hover img {
  transform: scale(1.05);
  z-index: 10;
}

.flag-icon {
  width: calc( 40* var(--screenWidthInPX) / 1920);
  height: auto;
  margin-bottom: calc( 2* var(--screenWidthInPX) / 1920);
  margin-left: calc( 5* var(--screenWidthInPX) / 1920);
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 37, 98, 0.85); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: calc( 20* var(--screenWidthInPX) / 1920);
  z-index: 10;
}
.overlay p{
  font-size: calc( 20* var(--screenWidthInPX) / 1920);
}

.image-container:hover .overlay {
  opacity: 1;
}
.footer{
  z-index: 0;
  position: relative;
}
.footer-img {
  width: 100%;
  object-fit: cover;
  display: block;
  position: static;
}


/*LINE ANIMATION */
.line {
  position: absolute;
  border-radius: 1em;
  animation-duration: 1s;
  pointer-events: none;
  z-index: 0;
}

.background-lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

}


.line-wide {
  transform: scaleX(1);
  animation-name: change-width;
}

.line-high {
  transform: scaleY(1);
  animation-name: change-height;
}

@keyframes change-width {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes change-height {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.shadow-object {
  filter: drop-shadow(0 0 10px rgba(1, 1, 1, 2));
}

.AR{
  display: none;
  font-family: "El Messiri", sans-serif;
}
#EN{
  font-family:'Alegreya Sans', sans-serif ;
}
#AR{
  font-family:"El Messiri", sans-serif ;
}
/*Responsive*/
@media only screen and (max-width: 775px){
  *{
    letter-spacing: 0.5px;
  }
.navbar{
    padding: calc( 18* var(--screenWidthMobileInPX) / 775) calc( 40* var(--screenWidthMobileInPX) / 775) 0;
}
.navbar span{
    font-size: calc( 20* var(--screenWidthMobileInPX) / 775);

}
.nav-left {
  gap: calc( 30* var(--screenWidthMobileInPX) / 775);
  margin-left: calc( 20* var(--screenWidthMobileInPX) / 775);
}
.nav-btn {
  font-size: calc( 18* var(--screenWidthMobileInPX) / 775);
}
.nav-center {
  margin-top: calc( 15* var(--screenWidthMobileInPX) / 775);
}
.logo {
  max-height: calc( 80* var(--screenWidthMobileInPX) / 775);
}
.nav-right {
  gap: calc( 15* var(--screenWidthMobileInPX) / 775);
  margin-right: calc( 30* var(--screenWidthMobileInPX) / 775);
}
.contact-btn {
  padding: calc( 10* var(--screenWidthMobileInPX) / 775) calc( 20* var(--screenWidthMobileInPX) / 775);
  font-size: calc( 16* var(--screenWidthMobileInPX) / 775);}
  .image-grid {
    flex-direction: column;
    align-items: center;
    gap: calc( 20* var(--screenWidthMobileInPX) / 775);
  }
  .image-container {
    height: calc( 200* var(--screenWidthMobileInPX) / 775);
  }
  .image-container img {
    border-radius: calc( 10* var(--screenWidthMobileInPX) / 775);
  }
  .flag-icon {
    width: calc( 30* var(--screenWidthMobileInPX) / 775);
    margin-left: calc( 3* var(--screenWidthMobileInPX) / 775);
  }
  .overlay p {
    font-size: calc( 16* var(--screenWidthMobileInPX) / 775);
  }
  .main-container {
    padding: calc( 100* var(--screenWidthMobileInPX) / 775) 0;
    height: auto;
  }

.line {
  display: none;
}

.background-lines {
  display: none;
}


.line-wide {
  display: none;
}

.line-high {
  display: none;
}
#monkey {
  font-size: calc( 40* var(--screenWidthMobileInPX) / 775);
  top: 10%;
  left: 10%;}
#banana {
  font-size: calc( 30* var(--screenWidthMobileInPX) / 775);
  top: 10%;
  left: 10%;
}
}